In [2]:
import pandas as pd

# Load the DataSet
df = pd.read_csv(r"C:\Users\Dell\Downloads\Retail Sales Analysis.csv")

# Print Column Names
print("Column Names:")
print(df.columns.tolist())
print("\n")

# Print Number of Rows
print("Number of Rows:", len(df))
print("\n")

# Print Summary Statistics
print("Summary Statistics:")
print(df.describe(include="all"))

Column Names:
['transactions_id', 'sale_date', 'sale_time', 'customer_id', 'gender', 'age', 'category', 'quantiy', 'price_per_unit', 'cogs', 'total_sale']


Number of Rows: 2000


Summary Statistics:
        transactions_id   sale_date sale_time  customer_id  gender  \
count       2000.000000        2000      2000  2000.000000    2000
unique              NaN         647       766          NaN       2
top                 NaN  2022-12-01  21:47:00          NaN  Female
freq                NaN          12         9          NaN    1020
mean        1000.500000         NaN       NaN    66.341500     NaN
std          577.494589         NaN       NaN    44.937185     NaN
min            1.000000         NaN       NaN     1.000000     NaN
25%          500.750000         NaN       NaN    24.000000     NaN
50%         1000.500000         NaN       NaN    69.000000     NaN
75%         1500.250000         NaN       NaN   102.000000     NaN
max         2000.000000         NaN       NaN   155.000000     NaN

                age  category      quantiy  price_per_unit         cogs  \
count   1990.000000      2000  1997.000000     1997.000000  1997.000000
unique          NaN         3          NaN             NaN          NaN
top             NaN  Clothing          NaN             NaN          NaN
freq            NaN       702          NaN             NaN          NaN
mean      41.343216       NaN     2.512769      180.117677    95.023886
std       13.668167       NaN     1.132708      189.685225   121.898695
min       18.000000       NaN     1.000000       25.000000     6.250000
25%       29.000000       NaN     1.000000       30.000000    13.000000
50%       42.000000       NaN     3.000000       50.000000    27.500000
75%       53.000000       NaN     4.000000      300.000000   147.000000
max       64.000000       NaN     4.000000      500.000000   620.000000

         total_sale
count   1997.000000
unique          NaN
top             NaN
freq            NaN
mean     456.544817
std      560.101381
min       25.000000
25%       60.000000
50%      150.000000
75%      900.000000
max     2000.000000